//  Foundation Overrides
//  --------------------
//
//  Table of Contents:
//
//   1. Base Elements
//   2. Navigation
//   3. Callout

// 2. Base Elements
// -------------

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  position: relative;
  top: $callout-height;
  @include breakpoint(medium up) {
    top: $callout-height * 1.5;
  }
}

a {
  opacity: 0.4;
  transition: opacity 0.3s ease-out;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

// 2. Navigation
// -------------

.sticky {
  width: 100%;
}

.menu > li > a {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.8125rem 0;
  border-bottom: 3px solid $dark-blue;
  transition: all 0.5s ease-out;
  &.active {
    opacity: 1;
  }
  & span::first-letter {
    font-size: 0.875rem;
  }
  @include breakpoint(361px up) {
    font-size: 0.8125rem;
    padding: 1rem 0;
    & span::first-letter {
      font-size: 0.9375rem;
    }
  }
}

.menu > li:nth-child(2) a {
  margin: 0 1.125rem;
  @include breakpoint(361px up) {
    margin: 0 1.625rem;
  }
}

.menu .active {
  font-weight: bold;
  border-bottom: 3px solid $medium-accent;
  transition: all 0.5s ease-out;
}

.menu [class^="fi"]:before {
  font-size: 0.9rem;
}

// 3. Callout
// -------------

.callout {
  z-index: -100;
}

.callout img {
  width: 100px;
  height: auto;
}

.callout.fixed {
  background: url("../img/panel.svg"), linear-gradient(150deg, rgba($medium-blue, 1) 30%, rgba($dark-blue, 1) 80%);
//  background-image: url("../img/panel.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: $callout-height;
  position: fixed;
  width: 100%;
  @include breakpoint(medium up) {
    height: $callout-height * 1.5;
  }
}

.sections {
//  max-width: 100%;
  position: relative;
  top: $callout-height;
  background-color: #fff;
  @include breakpoint(medium up) {
    top: $callout-height * 1.5;
  }
}